@model CarDealership.UI.Models.VehicleVM
@{
    ViewBag.Title = "EditVehicle";
}

<h2>Edit Vehicle</h2>

@Html.ValidationSummary()
@using (Html.BeginForm("EditVehicle", "Admin", FormMethod.Post, new
{ enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.AVehicle.IsAvailable)
    @Html.HiddenFor(m => m.AVehicle.VehicleID)
    @Html.HiddenFor(m => m.AVehicle.ImageLocation)
    <div class="col-md-6">
        <label>Make</label>
        @Html.DropDownListFor(m => m.AVehicle.CarMake.MakeName, Model.MakeItems, "Select Make", new { @class = "form-control", id = "makeDrop" })

        <label>Type</label>
        @Html.DropDownListFor(m => m.AVehicle.IsNew, Model.CarTypeItems, new { @class = "form-control" })

        <label>Year</label>
        @Html.TextBoxFor(m => m.AVehicle.Year, DateTime.Now.Year.ToString(), new { @class = "form-control", type = "number", @min = "1990" })

        <label>Color</label>
        @Html.TextBoxFor(m => m.AVehicle.Color, new { @class = "form-control", required = "required" })

        <label>Mileage</label>
        @Html.TextBoxFor(m => m.AVehicle.Mileage, new { @class = "form-control", type = "number", @min = "0" })

        <label>MSRP</label>
        @Html.TextBoxFor(m => m.AVehicle.MSRP, new { @class = "form-control", type = "number", @min = "0" })
    </div>

    <div class="col-md-6">
        <label>Model</label>
        <div>
            @Html.DropDownListFor(m => m.AVehicle.CarModel.CarModelID, Model.CarModelItems, "Select Model", new { @class = "form-control", id = "modelDrop" })
        </div>

        <label>Body Style</label>
        @Html.DropDownListFor(m => m.AVehicle.CarBody.BodyTypeID, Model.BodyTypeItems, new { @class = "form-control" })

        <label>Transmission</label>
        @Html.DropDownListFor(m => m.AVehicle.IsAutomatic, Model.CarTransmissionItems, new { @class = "form-control" })

        <label>Interior</label>
        @Html.DropDownListFor(m => m.AVehicle.Interior, Model.CarInteriorItems, "Select Interior", new { @class = "form-control" })

        <label>VIN #</label>
        @Html.TextBoxFor(m => m.AVehicle.VinNumber, new { @class = "form-control", required = "required" })

        <label>Sale Price</label>
        $@Html.TextBoxFor(m => m.AVehicle.SalePrice, new { @class = "form-control", type = "number", @min = "0" })
    </div>

    <div class="col-md-12">
        <label>Description</label>
        @Html.TextAreaFor(m => m.AVehicle.Description, new { @class = "form-control" })
        <label>
            @Html.CheckBoxFor(m => m.AVehicle.IsFeatured) Feature This Vehicle
        </label><br />

        <div style="height:150px">
            <img style="height:inherit;width:inherit" src="~/@Model.AVehicle.ImageLocation" />
        </div>
        <label>Picture</label>
        <label for="file">Upload Image:</label>
        @Html.TextBoxFor(m => m.File, new { type = "file" })
        <button type="button" id="upload" class="btn btn-primary btn-sm">Upload</button><br /><br />
        
        <a href="/Admin/RemoveVehicle/@Model.AVehicle.VehicleID">
        <button type="button" id="delete" class="btn btn-danger btn-sm">Delete</button>
        </a>&nbsp;&nbsp;
        <button type="submit" id="save" class="btn btn-primary btn-sm">Save</button>
    </div>
}

@section scripts{
    <script src="~/Scripts/admin.js"></script>
}
@section map{}

